<style>
h4{
  margin-left: auto;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: auto;
}
</style>
<div class="info">

  {{#each partials.command.previousCommand}}
    <h4>{{command}}</h4>
  {{/each}}

</div>
