<style>
body{
  background-position: center;
  text-align: center;


}
</style>
<h1>Page not found</h1>
<img src="img/404.png" alt="This is not the page you are looking for. move along move along">
<FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
