<style>
body{
  background-position: center;
  text-align: center;


}
</style>
<h1>Server error</h1>
<h2> We are very sorry </h2>
<img src="img/error.png" alt="Uh oh! Something went wrong at our end.
 Don't worry, it's not you. It's us. Sorry about that.">
