<h1>About</h1>
<p>This Webpage makes it posible to control a miniature car.</p>
<p>This will be done with http request to a mbed microcontroler.</p>
<p>The Collobarators of this project are:
{{> info}}

<p> Many thanks to visit our page</p>
