<style>
body {
    background-image: url('img/mbed.png');
    background-repeat: no-repeat;
    text-align: center;
    background-color: green;
    background-position: top;
    background-size: 900px 800px;

}
h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  color: black;
  width: 900px;
}

p {
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px
}
#table{
text-align: center;
width: 900px;
margin-right: auto;
margin-left: auto;
background-color: grey;
background-size: 900px 20px;
}

a {
  text-align: center;
  color:inherit;

}

</style>

  <h1>About the website</h1>
  <table border="1" id=table>
      <tr>
        <td><a href="home">Home</a></td>
        <td><a href="chatmachine">A chat machine</a></td>
        <td><a href="minigame">A mini Game</a></td>
        <td><a href="lookatprettypictures">Look at the pretty pictures</a></td>
        <td><a href="about">About</a></td>
        <td><a href="login">Login</a></td>
      </tr>
    </table>
  <p>This Webpage makes it posible to control a mbed processor.</p>
  <p>This will be done with http request to a mbed microcontroler.</p>
  <p>The Collobarators of this project are:
  {{> info}}
  <p> Many thanks to visit our page</p>
