<style>
body {
    background-image: url('img/white.png');
    background-repeat: no-repeat;
    text-align: center;
    table-layout: auto;
    background-color: green;
    background-position: top;
    background-size: 900px  800px;


}

h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  color: black;
  width: 900px;
}

a {
  text-align: center;
  color:inherit;

}
p{
  font-size: 8px;
}

#table{
text-align: center;
width: 900px;
margin-right: auto;
margin-left: auto;
background-color: grey;
background-size: 900px 20px;
margin-bottom: 30px;

}

</style>

  <h1>Look a pretty picture</h1>
  <table border="1" id=table>
      <tr>
        <td><a href="home">Home</a></td>
        <td><a href="chatmachine">A chat machine</a></td>
        <td><a href="minigame">A mini Game</a></td>
        <td><a href="lookatprettypictures">Look at the pretty pictures</a></td>
        <td><a href="about">About</a></td>
        <td><a href="login">Login</a></td>
      </tr>
    </table>

<form enctype="multipart/form-data" action="/upload/{year}/{month}" method="post">
      <label>Name</label>
      <input type="text" id="fieldName" name="name">
      <label>E-mail</label>
      <input type="text" id="fieldemail" name="email">
      <label>Photo</label>
      <input type ="file" accept="image/jpeg" id="fieldPhoto" name="photo">
      <button type="submit">Submit</button>
      </form>
