<style>
body{
  background-position: center;
  text-align: center;


}
</style>


<h1>thank-you</h1>
<img src="img/Succes.png" alt="Succes">
<FORM>
  <INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;">
</FORM>
